body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0078D7;
    color: white;
    padding: 10px 20px;
}

.navbar {
    background: #0056a6;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin-right: 15px;
}

.nav-links a {
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background 0.3s;
}

.nav-links a:hover {
    background: #004080;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}



.sidebar {
    width: 300px;
    background: white;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.search-panel input,
.search-panel select,
.search-panel button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #0078D7;
    border-radius: 5px;
    background-color: white;
}

.search-panel select {
    cursor: pointer;
    background: #f8f9fa;
}

.search-panel button {
    background: #0078D7;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.search-panel button:hover {
    background: #0056a6;
}


.user-list {
    margin-top: 20px;
}

.user-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.user-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.map-container {
    flex-grow: 1;
    padding: 20px;
    position: relative;
}

.map-filters {
    margin-bottom: 15px;
}

.map-filters button {
    padding: 8px 12px;
    margin-right: 5px;
    border: none;
    background: #0078D7;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.map-filters  .green{
    background: rgb(103, 206, 0);
} 
.map-filters  .green:hover{
    background: rgb(55, 111, 0);
} 

.map-filters button:hover {
    background: #0056a6;
}

#map {
    width: 100%;
    height: 600px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer {
    text-align: center;
    padding: 15px;
    background: #0078D7;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
